Repository medalizaidi/nifi-jar-automation-option2: changes, and which CircleCI parameters are due for each by the changed paths.
All: jar-manifest-changed, dockerfile-changed

fix
  workload/mfx-aggre-data-platform/custom_nifi/jars/mysql-connector-j-9.6.0.json
Due: jar-manifest-changed

fix
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

test pt
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

tt
  .circleci/config.yml
Due: none

tt
  workload/mfx-aggre-data-platform/custom_nifi/jars/mysql-connector-j-9.5.0.json
Due: jar-manifest-changed

fix
  .circleci/config.yml
Due: none

ff
  .circleci/config.yml
Due: none

Update NiFi image to 39081fd
  workload/mfx-aggre-data-platform/ecs_task_definition.tf
Due: none

testt
  workload/mfx-aggre-data-platform/custom_nifi/jars/mysql-connector-j-9.6.0.json
Due: jar-manifest-changed

change
  scripts/scan_jars_and_create_pr.py
  scripts/update_task_definition.py
Due: none

xx
  workload/mfx-aggre-data-platform/custom_nifi/jars/mysql-connector-j-9.5.0.json
  workload/mfx-aggre-data-platform/custom_nifi/jars/mysql-connector-j-9.6.0.json
Due: jar-manifest-changed

yry
  workload/mfx-aggre-data-platform/custom_nifi/jars/mysql-connector-j-9.5.0.json
Due: jar-manifest-changed

new test
  workload/mfx-aggre-data-platform/custom_nifi/jars/mariadb-java-client-3.3.3.json
Due: jar-manifest-changed

Add new JAR(s): mariadb-java-client-3.3.3.jar
  workload/mfx-aggre-data-platform/custom_nifi/Dockerfile
Due: dockerfile-changed

another one
  .circleci/config.yml
Due: none

gg
  .circleci/config.yml
Due: none

gr
  .circleci/config.yml
Due: none

test
  workload/mfx-aggre-data-platform/custom_nifi/Dockerfile
  workload/mfx-aggre-data-platform/custom_nifi/jars/mariadb-java-client-3.3.3.json
Due: jar-manifest-changed, dockerfile-changed

vcv
  .circleci/config.yml
Due: none

final
  .circleci/config.yml
Due: none

add mongo db
  workload/mfx-aggre-data-platform/custom_nifi/jars/mongodb-driver-sync-5.2.1.json
Due: jar-manifest-changed

Add new JAR(s): mongodb-driver-sync-5.2.1.jar
  workload/mfx-aggre-data-platform/custom_nifi/Dockerfile
Due: dockerfile-changed

test
  .circleci/config.yml
Due: none

change var
  .circleci/config.yml
Due: none

final fix
  workload/mfx-aggre-data-platform/custom_nifi/jars/ojdbc11-23.3.0.23.09.json
Due: jar-manifest-changed

xe
  .circleci/config.yml
  workload/mfx-aggre-data-platform/custom_nifi/Dockerfile
  workload/mfx-aggre-data-platform/custom_nifi/jars/mariadb-java-client-3.3.3.json
Due: jar-manifest-changed, dockerfile-changed

Add new JAR(s): mariadb-java-client-3.3.3.jar, ojdbc11-23.3.0.23.09.jar
  workload/mfx-aggre-data-platform/custom_nifi/Dockerfile
Due: dockerfile-changed

test
  .circleci/config.yml
  workload/mfx-aggre-data-platform/custom_nifi/jars/mssql-jdbc-12.6.1.jre11.json
Due: jar-manifest-changed

Add new JAR(s): mssql-jdbc-12.6.1.jre11.jar
  workload/mfx-aggre-data-platform/custom_nifi/Dockerfile
Due: dockerfile-changed

Add JAR-only trigger and manual approval gate
  .circleci/config.yml
Due: none

fin
  .circleci/config.yml
Due: none

Path conditions:
  jar-manifest-changed: any of: workload/mfx-aggre-data-platform/custom_nifi/jars/.*.json
  dockerfile-changed: any of: workload/mfx-aggre-data-platform/custom_nifi/Dockerfile
